@model IEnumerable<HabibCoach.Models.ApplicationUser>

<div class="table-responsive">
    <table class="table table-borderless align-middle mb-0">
        <thead class="table-light">
            <tr>
                <th>CLIENT</th>
                <th>PROGRAM</th>
                <th>LEVEL</th>
                <th>LAST 7 DAYS</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td class="d-flex align-items-center">
                        <img src="@client.ProfilePicture" class="rounded-circle me-2" width="40" height="40" alt="Client Image">
                        <span>@client.UserName</span>
                    </td>
                    <td class="text-muted">@((client.Programe?.WorkoutProgramTitle) ?? "No Program Assigned")</td>
                    <td class="text-muted">@((client.Programe?.Level) ?? "No Level Assigned")</td>
                    <td>
                        <span class="badge rounded-pill bg-primary">We</span>
                        <span class="badge rounded-pill bg-secondary">Th</span>
                        <span class="badge rounded-pill bg-primary">Fr</span>
                        <span class="badge rounded-pill bg-primary">Sa</span>
                        <span class="badge rounded-pill bg-primary">Su</span>
                        <span class="badge rounded-pill bg-primary">Mo</span>
                        <span class="badge rounded-pill bg-secondary">Tu</span>
                    </td>
                    <td>
                        <span class="badge bg-light text-dark border">Sample Client</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
